export(l4c)
export(l4c_SCE)
export(l4c_Seurat)
export(create_l4c)
export(add_reduction)
export(add_cluster)
export(display_html)
S3method(plot, looking4clusters)
S3method(print, looking4clusters)
import(stats)
import(utils)
